@model IEnumerable<RMS.Model.viewModes.OrderVM>

@{
    ViewBag.Title = "Index";
}


<div class="col-12">
    <div class="card mb-4">
        <div class="card-header pb-0">

            <h6 class="text-center"> STOCK ORDER</h6>
            <a type="button" class="btn btn-primary" href="/Order/Create">

                Create
            </a>
        </div>


        <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>

                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Vendor </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> OrderTime</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> OrderDate</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> OrderName</th>
<<<<<<< HEAD
=======
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> ProductName</th>
>>>>>>> b6186f10a581c2a89a0cca27fbd18003fdcc89c6
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Quantity</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Price</th>

                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Total</th>


                            <th class="text-secondary opacity-7"></th>
                        </tr>
                    </thead>

                    <tbody>



                        @foreach (var item in Model)
                        {
                        <tr class="text-center">

                            <td>

                                @Html.DisplayFor(modelItem => item.Vendor)
                            </td>
                            <td>

<<<<<<< HEAD
                                    @Html.DisplayFor(modelItem => item.OrderTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>

                               @* <td>
                                    <a asp-route-id="@item.OrderID" asp-action="Details">Bill</a>
=======
                                @Html.DisplayFor(modelItem => item.OrderTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
>>>>>>> b6186f10a581c2a89a0cca27fbd18003fdcc89c6

                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Total)
                            </td>

                           @* <td>
                                <a asp-route-id="@item.OrderID" asp-action="Details">Bill</a>

                            </td>*@
                            @* <td class="align-middle" style="float:right;">

            <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="/Order/Delete/@item.OrderID"><i class="far fa-trash-alt me-2"></i>Delete</a>
            <a class="btn btn-link text-dark px-3 mb-0" href="/Order/Edit/@item.OrderID"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
            <a class="btn btn-link text-dark px-3 mb-0" href="/Order/Details/@item.OrderID"><i class="fas fa-file-alt text-dark me-2" aria-hidden="true"></i>Details</a>

        </td>*@

                        </tr>
                        }
                    </tbody>

                </table>
            </div>


        </div>
    </div>

</div>
