@model IEnumerable<RMS.Model.viewModes.OrderDTOs>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.SubTotal)
                </td>*@
                <td>
                    <a asp-route-id="@item.OrderID" asp-action="Details">Bill</a>
                    @*   @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    *@
                </td>
            </tr>
        }
    </tbody>
</table>
