@model RMS.Model.viewModes.CustomerDTOs

@{
    ViewBag.Title = "Details";
}


<div class="container" style="margin-top: 2%;">
    <div class=" mx-auto">
        <div class="card">
            <div class="card-header text-center pt-4">
                <span>
                    <a href="/Customer" style=" float:left;">
                        <i class="fa fa-arrow-left" style="font-size:27px;"></i>
                    </a> 
                </span>
                <samp style="font-size: 30px; font-weight: bold; color:black;">Customer Details </samp>
            </div>
            <dl class="card-body">
                <dt>
                    @Html.DisplayNameFor(model => model.CustomerID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Contact)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Contact)
                </dd>

            </dl>
        </div>

    </div>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
