@model RMS.Model.viewModes.UserTypeDTOs

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.UserTypeID)
<div class="form-horizontal">

    <span>
        <a href="/UserType" style=" float:left;">
            <i class="fa fa-arrow-left" style="font-size:25px;"></i>
        </a>
    </span>
    <span style="font-size: 25px; font-weight: bold; color:black;"><p>Edit User Type</p></span>
    <hr />


    <div class="form-group">
        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.Type, new { @class="form-control" })
            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-12">
            <input type="submit" value="Save" class="btn bg-gradient-primary mt-4 " style=" display: block; margin-left: auto; margin-right: auto; width: 40%; " />
       
        </div>
    </div>
</div>
}
